In [2]:

import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
import numpy as np

In [12]:
path = 'E:/ML & Data/Projects/CaliforniaHousingPrices/Data/housing.csv'
df_main = pd.read_csv(path)
df_main

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [4]:

df_main_cleaned = df_main[df_main.median_house_value < 500000]
df_main_cleaned = df_main_cleaned.reset_index(drop=True)
df_main_cleaned

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
19643,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
19644,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
19645,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
19646,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
19647,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [5]:

df_inputs = df_main_cleaned.drop('median_house_value',axis=1)
df_labels = df_main_cleaned['median_house_value']
df_inputs

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,NEAR BAY
...,...,...,...,...,...,...,...,...,...
19643,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,INLAND
19644,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,INLAND
19645,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,INLAND
19646,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,INLAND
19647,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,INLAND

In [6]:
encoder = OneHotEncoder()
df_cat = df_inputs[['ocean_proximity']]
df_cat_encoded = encoder.fit_transform(df_cat)
df_cat_encoded = df_cat_encoded.toarray()
columns = encoder.get_feature_names_out()
final_columns = [name.split('_')[2] for name in columns]
df_cat_num = pd.DataFrame(df_cat_encoded,columns=final_columns)
df_cat_num_fixed = df_cat_num.drop("NEAR OCEAN",axis=1)
df_cat_num_final = pd.concat([df_inputs.drop("ocean_proximity",axis=1),df_cat_num_fixed],axis=1)
df_cat_num_final.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,0.0,0.0,0.0,1.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,0.0,0.0,0.0,1.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,0.0,0.0,0.0,1.0

In [7]:
inputer = SimpleImputer(strategy='median')
inputed_data = inputer.fit_transform(df_cat_num_final)
inputed_data = pd.DataFrame(inputed_data,columns=df_cat_num_final.columns)
inputed_data.head()
inputed_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19648 entries, 0 to 19647
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           19648 non-null  float64
 1   latitude            19648 non-null  float64
 2   housing_median_age  19648 non-null  float64
 3   total_rooms         19648 non-null  float64
 4   total_bedrooms      19648 non-null  float64
 5   population          19648 non-null  float64
 6   households          19648 non-null  float64
 7   median_income       19648 non-null  float64
 8   <1H OCEAN           19648 non-null  float64
 9   INLAND              19648 non-null  float64
 10  ISLAND              19648 non-null  float64
 11  NEAR BAY            19648 non-null  float64
dtypes: float64(12)
memory usage: 1.8 MB

In [8]:
df_scalling = inputed_data.drop(['<1H OCEAN','INLAND','ISLAND','NEAR BAY'],axis=1)
scaller = MinMaxScaler()
scaller_fit = scaller.fit_transform(df_scalling)
df_scalled = pd.DataFrame(scaller_fit,columns=df_scalling.columns)

In [9]:
df_final = pd.concat([df_scalled,df_cat_num_fixed],axis=1)
df_final

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY
0,0.211155,0.567481,0.784314,0.022331,0.019711,0.008941,0.020395,0.539668,0.0,0.0,0.0,1.0
1,0.212151,0.565356,0.392157,0.180503,0.171349,0.067210,0.186842,0.538027,0.0,0.0,0.0,1.0
2,0.210159,0.564293,1.000000,0.037260,0.029179,0.013818,0.028783,0.466028,0.0,0.0,0.0,1.0
3,0.209163,0.564293,1.000000,0.032352,0.036163,0.015555,0.035691,0.354699,0.0,0.0,0.0,1.0
4,0.209163,0.564293,1.000000,0.041330,0.043148,0.015752,0.042270,0.230776,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
19643,0.324701,0.737513,0.470588,0.042296,0.057737,0.023599,0.053947,0.073130,0.0,1.0,0.0,0.0
19644,0.312749,0.738576,0.333333,0.017676,0.022971,0.009894,0.018421,0.141853,0.0,1.0,0.0,0.0
19645,0.311753,0.732200,0.313725,0.057277,0.074965,0.028140,0.070888,0.082764,0.0,1.0,0.0,0.0
19646,0.301793,0.732200,0.333333,0.047256,0.063169,0.020684,0.057072,0.094295,0.0,1.0,0.0,0.0
19647,0.309761,0.725824,0.294118,0.070782,0.095297,0.038790,0.086842,0.130253,0.0,1.0,0.0,0.0

In [10]:
df_final.to_csv("Scalled_Data",index=False)

In [11]:
df_labels.to_csv("Labels",index=False)